*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Oswald', sans-serif;
}

.wrapper{
    width: 100vw;
    height: 100vh;
}

.container-left{
    display: inline-block;
    width: 60%;
}

.container-right{
display: inline-block;
background-color: rgb(93 93 126 / .16);
}