*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}

.nav-header{
    margin: 44px 0 144px 76px;
}

.nav-header a{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #989D9C;
    text-decoration: none;
    margin-right: 23px;
    text-transform: uppercase;
}
.nav-header a:nth-child(6){
    color: #FFFFFF;
    background-color: #665ae1;
    border-radius: 20.5px;
    padding: 5px 16px;
}

.img-logo{
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;
}

.main-content{
    display: inline-block;
    margin-left: 86px;
}

.main-content h1{
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

.main-content h2{
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

.main-content p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin: 32px 0 65px;
}

.main-content .btn{
    background-color: #ADFF00;
    color: #000000;
    font-size: 28;
    line-height: 34px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 45px;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgb(0 0 0 / .25);
}